In [2]:
import random
import string
import math
import pandas as pd

In [9]:
"".join([str(random.choice([0,1,2,3,4,5,6,7,8,9])) for i in range(9)])

'303710607'

In [11]:
def ran_phone_gen():
    
    phone = "".join([str(random.choice([0,1,2,3,4,5,6,7,8,9])) for i in range(9)])
    base = "971"
    
    return base+phone

In [28]:
list_dates = ["202001", "202002", "202003", "202004", "202005", "202006", 
              "202007", "202008", "202009", "202010", "202011", "202012"
             ]

In [26]:
# df_a = pd.DataFrame({
#     "user_phone_id": [ran_phone_gen() for i in range(4000)],
#     "nudge_id": "variant_a"
# })

# df_b = pd.DataFrame({
#     "user_phone_id": [ran_phone_gen() for i in range(4000)],
#     "nudge_id": "variant_b"
# })

# df_c = pd.DataFrame({
#     "user_phone_id": [ran_phone_gen() for i in range(2000)],
#     "nudge_id": "control"
# })

In [38]:
rows = []

for i in range(10000):
    _p = ran_phone_gen()
    for l in list_dates:
        rows.append([_p, l])

In [39]:
df_base = pd.DataFrame(rows, columns=["user_phone_id", "dim_date_month"])

In [40]:
df_base["nudge_id"] = ""

In [43]:
4000 * 12, 8000 * 12, 10000 * 12

(48000, 96000, 120000)

In [44]:
df_base.loc[0:48000, "nudge_id"] = "variant_a"
df_base.loc[48000:96000, "nudge_id"] = "variant_b"
df_base.loc[96000:120000, "nudge_id"] = "control"

In [45]:
df_base

       user_phone_id dim_date_month   nudge_id
0       971307057906         202001  variant_a
1       971307057906         202002  variant_a
2       971307057906         202003  variant_a
3       971307057906         202004  variant_a
4       971307057906         202005  variant_a
...              ...            ...        ...
119995  971458045311         202008    control
119996  971458045311         202009    control
119997  971458045311         202010    control
119998  971458045311         202011    control
119999  971458045311         202012    control

[120000 rows x 3 columns]

In [51]:
def nudge_indicator_gen(row):
    if row.nudge_id == "variant_a":
        return random.choices([0,1], k=1, weights=[0.4, 0.6])[0]
    elif row.nudge_id == "variant_b":
        return random.choices([0,1], k=1, weights=[0.6, 0.4])[0]
    else:
        return random.choices([0,1], k=1, weights=[0.85, 0.15])[0]

In [53]:
df_base["m_o_m_fin_health_indicator"] = df_base.apply(lambda row: nudge_indicator_gen(row), axis=1)

In [54]:
df_base.to_csv("sample_generated_nudge_tracking.csv", index=False)